.achievement {
  margin: 0 auto;
  background-color: @gray-light;
  order: 2;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    order: 4;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 58px;
  }
}

.achievement__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 44px;
  padding-left: 22px;
  padding-right: 22px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 616px;
    padding-bottom: 58px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    width: 936px;
    background-color: transparent;
    padding: 0;
  }
}

.achievement__fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  border: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    border: 2px solid @gray-light;
    padding-top: 46px;
    padding-bottom: 55px;
    padding-left: 58px;
    padding-right: 40px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 47px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 40px;
    border: 2px solid @gray-table-border;
  }
}

.achievement__fieldset legend {
  width: 218px;
  font-size: 14px;
  line-height: 18px;
  color: @pink;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 40px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: initial;
    padding-bottom: 0;
    text-align: initial;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
  }
}

.achievement__fieldset p:last-of-type {
  padding-bottom: 0;

  @media (min-width: @desktop-width) {
    padding-bottom: 52px;
  }
}

.achievement__fieldset p {
  margin: 0;
  padding-bottom: 52px;
  padding-left: 57px;

  @media (min-width: @desktop-width) {
    padding-left: 57px;

    &:nth-of-type(1) {
      order: 1;
      width: 256px;
    }

    &:nth-of-type(2) {
      order: 4;
      width: 256px;
      padding-bottom: 0;
    }

    &:nth-of-type(3) {
      order: 2;
      width: 238px;
    }

    &:nth-of-type(4) {
      order: 5;
      width: 238px;
      padding-bottom: 0;
    }

    &:nth-of-type(5) {
      order: 3;
      width: 150px;
    }

    &:nth-of-type(6) {
      order: 6;
      width: 150px;
      padding-bottom: 0;
    }
  }
}

.achievement__item label {
  width: 200px;
  font-size: 18px;
  line-height: 30px;
  position: relative;
  cursor: pointer;
}

.achievement__item-label::before {
  content: url("../../img/button-checkbox-empty.svg");
  width: 37px;
  height: 37px;
  position: absolute;
  left: -59px;
  top: -8px;
}

.achievement__item-label:hover::before,
.achievement__item-label:focus::before {
  content: url("../../img/button-checkbox-empty-hover.svg");
  width: 37px;
  height: 37px;
  position: absolute;
  left: -59px;
  top: -8px;
}

.achievement__item-label:active::before {
  content: url("../../img/button-checkbox-empty-active.svg");
  width: 37px;
  height: 37px;
  position: absolute;
  left: -59px;
  top: -8px;
}

.achievement__item-input:checked + .achievement__item-label::before {
  content: url("../../img/button-checkbox-check.svg");
  width: 37px;
  height: 37px;
  position: absolute;
  left: -59px;
  top: -8px;
}

.achievement__item-input:checked + .achievement__item-label:hover::before,
.achievement__item-input:checked + .achievement__item-label:focus::before {
  content: url("../../img/button-checkbox-check-hover.svg");
  width: 37px;
  height: 37px;
  position: absolute;
  left: -59px;
  top: -8px;
}

.achievement__item-input:checked + .achievement__item-label:active::before {
  content: url("../../img/button-checkbox-check-active.svg");
  width: 37px;
  height: 37px;
  position: absolute;
  left: -59px;
  top: -8px;
}
