.achievement {
  width: 320px;
  margin: 0 auto;
  background-color: @gray-light;
  padding-top: 42px;
  padding-bottom: 44px;
  padding-left: 22px;
  padding-right: 22px;
  box-sizing: border-box;
  order: 2;

  @media (min-width: @tablet-width) {
    width: 660px;
    background-color: transparent;
    padding-bottom: 51px;
    padding-left: 22px;
    padding-right: 22px;
    order: 4;
  }

  @media (min-width: @desktop-width) {
    width: 936px;
    background-color: transparent;
    padding-bottom: 64px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

.achievement__fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  border: none;

  @media (min-width: @tablet-width) {
    border: 2px solid @gray-light;
    padding: 52px 60px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 54px 60px;
    border: 2px solid @gray-table-border;
  }
}

.achievement__item {
  @media (min-width: @desktop-width) {
    min-width: 254px;
    padding-bottom: 69px;
    box-sizing: border-box;
  }
}

.achievement__fieldset legend {
  font-size: 14px;
  line-height: 18px;
  color: @pink;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 55px;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }
}

.achievement__fieldset p {
  margin: 0;
  padding-bottom: 69px;
}

.achievement__fieldset p:last-of-type {
  padding-bottom: 0;
}

.achievement__fieldset p:nth-last-child(2),
.achievement__fieldset p:nth-last-child(3) {
  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.achievement__item label {
  font-size: 18px;
  line-height: 30px;
  padding-left: 75px;
  position: relative;
  cursor: pointer;
}

.achievement__item label::before {
  content: url("../../img/button-checkbox-empty.svg");
  width: 37px;
  height: 37px;
  position: absolute;
  left: 22px;
  top: -8px;
}

.achievement__item label:hover::before,
.achievement__item label:focus::before {
  content: url("../../img/button-checkbox-empty-hover.svg");
  width: 37px;
  height: 37px;
  position: absolute;
  left: 22px;
  top: -8px;
}

.achievement__item label:active::before {
  content: url("../../img/button-checkbox-empty-active.svg");
  width: 37px;
  height: 37px;
  position: absolute;
  left: 22px;
  top: -8px;
}

.achievement__item-input:checked label::before {
  content: url("../../img/button-checkbox-check.svg");
  width: 37px;
  height: 37px;
  position: absolute;
  left: 22px;
  top: -8px;
}

.achievement__item-input:checked label:hover::before,
.achievement__item-input:checked label:focus::before {
  content: url("../../img/button-checkbox-check-hover.svg");
  width: 37px;
  height: 37px;
  position: absolute;
  left: 22px;
  top: -8px;
}

.achievement__item-input:checked label:active::before {
  content: url("../../img/button-checkbox-check-active.svg");
  width: 37px;
  height: 37px;
  position: absolute;
  left: 22px;
  top: -8px;
}
