.editor {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 660px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.editor__slogan {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 52px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding-bottom: 48px;
    padding-left: 119px;
    padding-right: 119px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 75px;
    padding-left: 389px;
    padding-right: 389px;
  }
}

.editor__photo {
  width: 320px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: @gray-light;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 660px;
    padding-top: 57px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    padding-top: 57px;
    padding-left: 80px;
    padding-right: 60px;
    padding-bottom: 57px;
  }
}

.editor__photo-img {
  width: 280px;
  height: 374px;
  padding-bottom: 43px;

  @media (min-width: @tablet-width) {
    width: 300px;
    height: 400px;
    padding-bottom: 0;
  }
}

.editor__photo-parameters {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 114px;
  padding: 0;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    margin-bottom: 41px;
  }
}

.editor__photo-parameters-crop {
  width: 44px;
  height: 44px;

  @media (min-width: @tablet-width) {
    width: 22px;
    height: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 44px;
    height: 44px;
  }
}

.editor__photo-parameters-fill {
  width: 48px;
  height: 43px;

  @media (min-width: @tablet-width) {
    width: 24px;
    height: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 48px;
    height: 43px;
  }
}

.editor__photo-parameters-contrast {
  width: 32px;
  height: 32px;

  @media (min-width: @tablet-width) {
    width: 16px;
    height: 16px;
  }

  @media (min-width: @desktop-width) {
    width: 32px;
    height: 32px;
  }
}

.editor__photo-wrapper {
  @media (min-width: @tablet-width) {
    width: 260px;
    margin-left: 47px;
  }
}

.editor__photo-parameters li {
  @media (min-width: @tablet-width) {
    padding-bottom: 34px;
    border-bottom: 1px solid @main-gray-opacity10;
    margin-bottom: 26px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 15px;
  }
}

.editor__button {
  @media (min-width: @desktop-width) {
    width: 410px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.editor__button button {
  font-size: 18px;
  line-height: 18px;
  width: 280px;
  height: 55px;
  background-color: transparent;
  border: 3px solid;
  border-radius: 30px;
  cursor: pointer;

  @media (min-width: @desktop-width) {
    width: 183px;
  }
}

.editor__button-post {
  color: @pink;
  border-color: @pink;
  margin-bottom: 12px;

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.editor__button-cancel {
  color: @main-gray-opacity10;
  border-color: @main-gray-opacity10;
}
