.editor {
  width: 100%;
  margin: 0 auto;
}

.editor__slogan {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.editor__photo {
  display: flex;
  flex-direction: row;
  background-color: @gray-light;
}

.editor__photo-parameters div {
  border-bottom: 1px solid @main-gray-opacity10;
}

.editor__photo-parameters div:last-child {
  border-bottom: none;
}

.parameters__button  button{
  font-size: 18px;
  line-height: 18px;
  background-color: transparent;
  border: 3px solid;
  border-radius: 30px;
}

.parameters__button-post {
  color: @pink;
  border-color: @pink;
}

.parameters__button-cancel {
  color: @main-gray-opacity10;
  border-color: @main-gray-opacity10;
}
