.editor__photo {
  width: 100%;
  background-color: @gray-light;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    background-color: transparent;
  }
}

.editor__photo-wrapper {
  width: 320px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 660px;
    padding-top: 57px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    padding-top: 57px;
    padding-left: 80px;
    padding-right: 60px;
    padding-bottom: 57px;
    background-color: @gray-light;
  }
}

.editor__slogan {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 43px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 23px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding-bottom: 48px;
    padding-left: 119px;
    padding-right: 119px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 75px;
    padding-left: 389px;
    padding-right: 389px;
  }
}

.editor__photo-img {
  width: 280px;
  height: 374px;
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    width: 300px;
    height: 400px;
    padding-bottom: 0;
  }
}

.editor__photo-parameters-wrapper {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 260px;
    padding-left: 47px;
    margin: 0 auto;
    display: initial;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    width: 410px;
    margin-left: 90px;
  }
}

.editor__photo-parameters-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 32px;
  padding-left: 0;
  padding-right: 10px;
  box-sizing: border-box;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    width: 253px;
    min-height: 162px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 67px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: @desktop-width) {
    width: 410px;
    margin-bottom: 139px;
  }
}

.editor__photo-parameters {
  @media (min-width: @tablet-width) {
    width: 100%;
    padding-bottom: 24px;
    padding-top: 18px;
    border-bottom: 1px solid @main-gray-opacity10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      padding-top: 0;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 17px 0;

    &:last-child {
      border: none;
    }
  }
}

.editor__photo-parameters-crop svg {
  width: 44px;
  height: 44px;

  @media (min-width: @tablet-width) {
    width: 22px;
    height: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 44px;
    height: 44px;
  }
}

.editor__photo-parameters-fill svg {
  width: 48px;
  height: 43px;

  @media (min-width: @tablet-width) {
    width: 24px;
    height: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 48px;
    height: 43px;
  }
}

.editor__photo-parameters-contrast svg {
  width: 32px;
  height: 32px;

  @media (min-width: @tablet-width) {
    width: 16px;
    height: 16px;
  }

  @media (min-width: @desktop-width) {
    width: 32px;
    height: 32px;
  }
}

.editor__photo-parameters-scale {
  appearance: none;
  width: 240px;
  height: 2px;
  background-color: @main-gray;
  margin-top: 31px;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    background-color: @basic-white;
    border: 2px solid @pink;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;

    &:active {
      background-color: @pink;
    }
  }

  @media (min-width: @tablet-width) {
    width: 202px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 288px;
  }
}

.editor__photo-parameters-fill-scale,
.editor__photo-parameters-contrast-scale,
.editor__photo-parameters-crop-scale {
  display: none;

  @media (min-width: @tablet-width) {
    display: initial;
  }
}

.editor__photo-parameters-general-bar {
  margin: 0 auto;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.editor__photo-parameters li {
  @media (min-width: @tablet-width) {
    padding-bottom: 34px;
    border-bottom: 1px solid @main-gray-opacity10;
    margin-bottom: 26px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 15px;
  }
}

.editor__photo-parameters-icon:hover svg,
.editor__photo-parameters-icon:focus svg {
  fill: @main-gray-opacity30;
}

.editor__photo-parameters-icon:active svg {
  fill: @main-gray-opacity50;
}


.editor__button {
  @media (max-width: @mobile-width-only) {
    padding-top: 38px;
    border-top: 1px solid @main-gray-opacity10;
  }


  @media (min-width: @desktop-width) {
    width: 410px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    border: none;
  }
}

.editor__button button {
  font-size: 18px;
  line-height: 18px;
  width: 280px;
  height: 55px;
  background-color: transparent;
  border: 3px solid;
  border-radius: 30px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 260px;
  }

  @media (min-width: @desktop-width) {
    width: 183px;
  }
}

.editor__button-post {
  color: @pink;
  border-color: @pink;
  margin-bottom: 12px;

  &:hover,
  &:focus {
    background-color: @pink;
    color: @basic-white;
  }

  &:active {
    color: @basic-white-opacity30;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.editor__button-cancel {
  color: @main-gray-opacity10;
  border-color: @main-gray-opacity10;

  &:hover,
  &:focus {
    border-color: @main-gray-opacity30;
    color: @main-gray-opacity30;
  }

  &:active {
    color: @basic-white-opacity10;
    background-color: @main-gray-opacity30;
  }
}
