.emotions {
  width: 320px;
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 52px;
  padding-left: 22px;
  padding-right: 22px;
  box-sizing: border-box;
  order: 5;

  @media (min-width: @tablet-width) {
    width: 660px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 22px;
    padding-right: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 936px;
    padding-bottom: 69px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

.emotions__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 616px;
    border: 2px solid @gray-table-border;
    padding-top: 47px;
    padding-bottom: 53px;
    padding-left: 82px;
    padding-right: 82px;
  }

  @media (min-width: @desktop-width) {
    width: 936px;
    padding-top: 44px;
    padding-bottom: 45px;
    padding-left: 60px;
    padding-right: 60px;
    border: 2px solid @gray-table-border;
  }
}

.emotions__fieldset legend {
  font-size: 14px;
  line-height: 18px;
  color: @pink;
  text-transform: uppercase;
  padding-bottom: 22px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 0 15px;
  }
}

.emotions__fieldset textarea {
  width: 276px;
  height: 197px;
  border: 2px solid @gray-table-border;
  border-radius: 1px;
  box-sizing: border-box;
  font-family: inherit;

  @media (min-width: @tablet-width) {
    width: 496px;
    height: 189px;
  }

  @media (min-width: @desktop-width) {
    width: 816px;
    height: 124px;
  }
}

.emotions__fieldset textarea::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: @main-gray;
  padding: 22px 15px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding: 15px;
  }

  @media (min-width: @desktop-width) {
    padding: 20px;
  }
}
