.form-button {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 26px;
  padding-left: 22px;
  padding-right: 22px;
  box-sizing: border-box;
  order: 7;

  @media (min-width: @tablet-width) {
    width: 660px;
    flex-direction: row;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
  }
}

.form-button button {
  width: 276px;
  height: 59px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @basic-white;
  border: none;
  background-color: @green;
  text-transform: uppercase;
  margin-bottom: 46px;
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    width: 296px;
  }
}

.form-button p {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.form-button span {
  color: @pink;
}
