.main-footer {
  width: 320px;
  min-height: 204px;
  margin: 0 auto;
  padding: 40px 74px;
  background-color: @basic-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main-footer__socials-list {
  width: 172px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.main-footer__socials-item a {
  width: 48px;
  height: 48px;
  border: 4px solid @main-gray-opacity10;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
