.main-footer {
  width: 100%;
  margin: 0 auto;
  background-color: @basic-white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.socials__list {
  width: 166px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.socials__item a {
  border: 4px solid @main-gray-opacity10;
  border-radius: 50%;
}

.main-footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
