.page-footer {
  width: 100%;
  margin: 0 auto;
}

.page-footer__caption {
  font-size: 50px;
  line-height: 68px;
  font-weight: 300;
  color: @main-gray;
  margin: 0;
}

.contacts__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.contacts__item-caption {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @main-gray;
  margin: 0;
}

.contacts__item-adress {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @pink;
  margin: 0;
}
