.page-header {
  margin: 0 auto;
  width: 100%;
  height: 66px;
  background-color: @basic-black-opacity30;
  position: absolute;
  z-index: 10;


  @media (min-width: @tablet-width) {
    height: 110px;
  }

  @media (min-width: @desktop-width) {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-header__wrapper {
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    width: 1200px;
    padding: 43px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

.page-header__wrapper-menu {
  width: 320px;
  margin: 0 auto;
  padding: 21px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  @media (min-width: @tablet-width) {
    width: 660px;
    padding: 43px 20px;
  }

  @media (min-width: @desktop-width) {
    width: 150px;
  }
}

.page-header__wrapper--closed .page-header__nav-list {
  @media (max-width: @tablet-width-only) {
    display: none;
  }
}

.page-header__wrapper .page-header__nav-list {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-header__nav-list {
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
  }
}

.page-header__wrapper--opened {
  background-color: @main-gray;
  height: 69px;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    height: 110px;
  }
}

.page-header__wrapper--opened .page-header__nav-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  color: @basic-white;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: @main-gray;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 67px;
  left: 0;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    top: 110px;
  }
}

.page-header__wrapper--opened .page-header__nav-item {
  @media (max-width: @tablet-width-only) {
    width: 100%;
    height: 63px;
    padding: 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 1px 0 @basic-black, inset 0 1px 0 @shadow-opacity15;
  }
}

.page-header__nav-item {
  &:hover a,
  &:focus a {
    color: @pink;
  }

  &:active a {
    opacity: 0.3;
  }

  &--current {
    &::after {
      content: "";
      height: 2px;
      background-color: @basic-white;
      position: absolute;
    }
  }
}

.page-header__nav-item a {
  color: @basic-white;
}

.page-header__wrapper-logo {
  &:hover path,
  &:focus path {
    fill: @pink;
  }

  &:active path {
    opacity: 0.3;
  }
}


.page-header__wrapper button {
  border: none;
  background-color: transparent;
}

.page-header__nav-button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover path,
  &:focus path {
    fill: @pink;
  }

  &:active path {
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__wrapper--closed .page-header__nav-button-close {
  @media (max-width: @tablet-width-only) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__wrapper--opened .page-header__nav-button-open {
  @media (max-width: @tablet-width-only) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
