.page-header {
  margin: 0 auto;
  width: 100%;
  height: 66px;
  background-color: @basic-black-opacity30;
  position: absolute;
  z-index: 10;


  @media (min-width: @tablet-width) {
    height: 110px;
  }

  @media (min-width: @desktop-width) {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-header__wrapper {
  @media (min-width: @desktop-width) {
    background-color: @basic-black-opacity30;
  }
}

.page-header__wrapper-menu {
  width: 320px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  @media (min-width: @tablet-width) {
    width: 660px;
    padding-top: 27px;
    padding-bottom: 43px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    padding: 0;
    margin: 0;
    display: block;
  }
}

.page-header__wrapper .page-header__nav-list {
  @media (max-width: @tablet-width-only) {
    display: none;
  }
}

.page-header__nav-list {
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
  }
}

.page-header__wrapper--opened {
  background-color: @main-gray;
  height: 69px;
  margin: 0 auto;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    height: 110px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 43px 130px;
    box-sizing: border-box;
  }
}

.page-header__wrapper--closed {
  @media (min-width: @desktop-width) {
    width: 1200px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 43px 130px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.page-header__wrapper--opened .page-header__nav-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  color: @basic-white;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: @main-gray;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 67px;
  left: 0;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    top: 110px;
  }

  @media (min-width: @desktop-width) {
    width: 620px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: initial;
  }
}

.page-header__wrapper--opened .page-header__nav-item {
  @media (max-width: @tablet-width-only) {
    width: 100%;
    height: 65px;
    padding: 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 1px 0 @basic-black, inset 0 1px 0 @shadow-opacity15;
  }
}

.page-header__nav-item {
  &:hover a,
  &:focus a {
    color: @pink;
  }

  &:active a {
    opacity: 0.3;
  }

  &--current {
    &::after {
      content: "";
      height: 2px;
      background-color: @basic-white;
      position: absolute;
    }
  }
}

.page-header__nav-link--current::after {
  @media (max-width: @tablet-width-only) {
    display: none;
  }
}

.page-header__nav-item a {
  color: @basic-white;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 18px;
    font-weight: 300;
    text-transform: none;
  }
}

.page-header__nav-link--current {
  position: relative;
}

.page-header__nav-link.page-header__nav-link--current::after {
  content: "";
  width: auto;
  height: 2px;
  background-color: @basic-white;
  position: absolute;
  bottom: -16px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.page-header__wrapper-logo {
  &:hover svg,
  &:focus svg {
    fill: @pink;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.page-header__logo-pink-mobile {
  fill: @basic-white;

  @media (max-width: @mobile-width-only) {
    display: block;
    width: 74px;
    height: 23px;

    &:hover,
    &:focus {
      fill: @pink;
    }

    &:active {
      fill: @basic-white-opacity30;
    }
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__logo-pink-tablet {
  display: none;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    display: block;
    width: 145px;
    height: 40px;

    &:hover,
    &:focus {
      fill: @pink;
    }

    &:active {
      fill: @basic-white-opacity30;
    }
  }
}

.page-header__logo-pink-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    width: 147px;
    height: 40px;

    &:hover,
    &:focus {
      fill: @pink;
    }

    &:active {
      fill: @basic-white-opacity30;
    }
  }
}


.page-header__wrapper button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.page-header__nav-button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: @pink;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__nav-button-open,
.page-header__nav-button-close {
  padding-top: 16px;
}

.page-header__wrapper--closed .page-header__nav-button-close {
  @media (max-width: @tablet-width-only) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__wrapper--opened .page-header__nav-button-open {
  @media (max-width: @tablet-width-only) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
