.page-footer {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.page-footer__caption {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @main-gray;
  margin: 0;
  padding-bottom: 45px;
}

.page-footer__contacts-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.page-footer__contacts-caption {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @main-gray;
  margin: 0;
  padding-bottom: 13px;
}

.page-footer__contacts-adress {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @pink;
  margin: 0;
  padding-bottom: 31px;
}

.page-footer__map-img {
  width: 100%;
}
