.panorama {
  width: 100%;
  margin: 0;
  padding: 0;
}

.panorama__slogan {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.panorama__img {
  width: 100%;
}

.panorama__button {
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: @basic-white;
  background-color: @pink;
  text-transform: uppercase;
  border: none;
}

.panorama__comment {
  display: flex;
  flex-direction: column;
  background-color: @gray-light;
}

.panorama__comment p {
  margin: 0;
  padding: 0;
}

.panorama__comment-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
