.panorama {
  width: 320px;
  margin: 0 auto;
  padding-top: 54px;
}

.panorama__slogan {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 60px;
  margin: 0;
}

.panorama__section-photo {
  position: relative;
  width: 320px;
  height: 135px;
}

.panorama__img {
  width: 100%;
}

.panorama__button {
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: @basic-white;
  background-color: @pink;
  text-transform: uppercase;
  border: none;
  padding: 6px 21px;
  box-sizing: border-box;
  position: absolute;
  right: 20px;
}

.panorama__comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: @gray-light;
  margin-left: 20px;
  margin-right: 20px;
  padding: 25px 17px;
}

.panorama__comment p {
  margin: 0;
  padding: 0;
}

.panorama__comment-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.panorama__comment-top-name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.panorama__comment-top-time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.panorama__comment-top-likes {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @pink;
}

.panorama__comment-bottom {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}
