.price {
  margin: 0 auto;
  background-image: url("../../img/gray-bg.png");
  background-color: @basic-white;
  background-repeat: no-repeat;
  background-size: cover;
}

.price__wrapper {
  width: 320px;
  height: 506px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 660px;
    height: 385px;
    padding-top: 94px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    height: 534px;
    background-size: cover;
    padding-top: 159px;
    padding-bottom: 98px;
    padding-left: 130px;
    padding-right: 130px;
  }
}

.price__table {
  border-collapse: collapse;
  position: absolute;
  right: -164px;
  width: 840px;
  bottom: 100px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 618px;
    min-height: 216px;
    position: initial;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    height: 277px;
  }
}

.price__table tr,
.price__table td {
  width: 280px;
  height: 59px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 152px;
    height: 45px;

    @media (min-width: @desktop-width) {
      width: 233px;
      height: 59px;
    }
  }
}

.price__column-description-top {
  background-color: @main-gray;
  color: @basic-white;
  border-collapse: collapse;
  padding-top: 19px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 35px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 152px;
    height: 75px;
    padding-top: 19px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 16px;

    @media (min-width: @desktop-width) {
      width: 233px;
      height: 94px;
      padding: 23px 55px;
    }
  }
}

.price__column-description-top + .price__column-description-top-hit {
  position: relative;
  border-left: 2px solid @basic-white;
  border-right: 2px solid @basic-white;

  &::before {
    content: url("../../img/icon-hit.svg");
    width: 74px;
    height: 74px;
    position: absolute;
    left: 0;
    top: 0;
  }

  @media (min-width: @tablet-width) {
    &::before {
      width: 61px;
      height: 61px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      width: 74px;
      height: 74px;
    }
  }
}

.price__column-white,
.price__column-parameter {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300px;
  background-color: @basic-white;
  border: 2px solid @gray-table-border;
  border-radius: 1px 0 0 0;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.price__column-parameter {
  display: table-cell;
  text-align: left;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding-left: 15px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 22px;
  }
}

.price__column-description b {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 15px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}

.price__column-description p {
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.price__column-description-left {
  font-size: 18px;
  line-height: 30px;
  color: @main-gray;
}

.price__column-hidden {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 21px;
  padding-left: 20px;
  padding-right: 17px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

.price__column-hidden span {
  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.price__column img {
  vertical-align: middle;
}

.price__list {
  min-width: 63px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 49px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.price__item {
  margin-right: 19px;

  &:last-child {
    margin-right: 0;
  }
}

.price__button {
  border: none;
  background-color: @main-gray-opacity30;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  padding: 0;
  margin: 0;

  &:hover,
  &:focus {
    background-color: @main-gray-opacity60;
  }

  &:active {
    background-color: @main-gray-opacity10;
  }
}

.price__button--current {
  width: 12px;
  height: 12px;
  background-color: @basic-white;
  border-radius: 50%;
  border: 3px solid @main-gray;
  padding: 0;
  margin: 0;
}
