.reviews {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  box-sizing: border-box;
}


.reviews__user-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @basic-black;
  padding-top: 31px;
}

.reviews__user-job {
  font-size: 14px;
  line-height: 30px;
  color: @main-gray;

  display: none;
}

.reviews__comment {
  font-size: 14px;
  line-height: 30px;
  color: @main-gray;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 44px;
  margin: 0;
  box-sizing: border-box;
}

.reviews__list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}
