.site-description {
  width: 320px;
  margin: 0 auto;
  background-color: @main-gray;
  padding: 0;
}

.site-description__button-upload {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @basic-white;
  border: 3px solid @basic-white;
  border-radius: 29px;
  background-color: transparent;
  padding: 21px 38px;
  margin-top: 28px;
  margin-left: auto; //не выравнивается посередине
  margin-right: auto;
  margin-bottom: 32px;
  box-sizing: border-box;
}

.upload__list {
  width: 204px;
  min-height: 56px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}

.upload__description {
  font-size: 14px;
  line-height: 24px;
  color: @basic-white;
  text-align: center;
  padding-bottom: 38px;
  margin: 0;
}
