.suggestions {
  width: 100%;
  margin: 0 auto;
  background-image: url(../../img/gray-bg.png);
  background-color: @gray-light;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 0;
}

.suggestions__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @basic-black;
}

.suggestions__description {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: @main-gray;
}
