.user-data {
  width: 320px;
  margin: 0 auto;
  padding-top: 54px;
  padding-bottom: 44px;
  padding-left: 20px;
  padding-right: 20px;
  order: 1;
}

.user-data__slogan {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding-bottom: 55px;
}

.user-data__main,
.user-data__app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-data__main-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-data__main p {
  margin: 0;
  padding: 0;
}

.user-data__main-item label,
.user-data__app legend {
  font-size: 14px;
  line-height: 30px;
  color: @pink;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.user-data__main-item input {
  border: 2px solid @gray-table-border;
  border-radius: 1px;
  padding: 23px 20px;
  margin-bottom: 29px;
}

.user-data__main-item input::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: @main-gray;
}




