.user-app {
  width: 320px;
  margin: 0 auto;
  background-color: @gray-light;
  padding-top: 42px;
  padding-bottom: 42px;
  padding-left: 22px;
  padding-right: 22px;
  box-sizing: border-box;
  order: 4;
}

.user-app__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.user-app__fieldset legend {
  font-size: 14px;
  line-height: 18px;
  color: @pink;
  text-transform: uppercase;
  padding-bottom: 52px;
  text-align: center;
}

.user-app__fieldset p {
  margin: 0;
  padding-left: 25px;
  padding-bottom: 62px;
}

.user-app__fieldset p:last-of-type {
  padding-bottom: 0;
}

.user-app__fieldset-item label {
  font-size: 18px;
  line-height: 30px;
}
