.user-contacts {
  width: 320px;
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 15px;
  padding-left: 22px;
  padding-right: 22px;
  box-sizing: border-box;
  order: 3;
}

.user-contacts__fieldset {
  border: none;
  padding: 0;
}

.user-contacts__fieldset legend {
  display: none;
}

.user-contacts__fieldset label {
  font-size: 14px;
  line-height: 30px;
  color: @pink;
  text-transform: uppercase;
  padding-bottom: 17px;
  padding-left: 20px;
}

.user-contacts__fieldset input {
  width: 100%;
  border: 2px solid @gray-table-border;
  border-radius: 1px;
  padding: 23px 20px;
  margin-bottom: 29px;
  box-sizing: border-box;
}


.user-contacts__fieldset input::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: @main-gray;
}

.user-contacts__phone-img,
.user-contacts__email-img {
  display: none;
}
