// Colors

@basic-black: #000000;
@basic-black-opacity30: rgba(0, 0, 0, 0.3);
@basic-white: #FFFFFF;
@main-gray: #283645;
@main-gray-opacity10: rgba(40, 54, 69, 0.1);
@pink: #D22856;
@gray-light: #F2F2F2;
@gray-table-border: #E5E5E5;
@green: #2AAB6D;
